In [15]:

import numpy as np
import pandas as pd
from scipy import sparse

In [16]:
ratings = pd.read_csv('DataSets/ratings.csv')
movies = pd.read_csv('DataSets/movies.csv')

In [17]:
ratings.info()
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   object
 2   genres   9742 non-null   object
dtypes: int64(1), object(2)
memory usage: 228.5+ KB

In [18]:
print(ratings.shape)
ratings.head()

(100836, 4)

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [19]:
print(movies.shape)
movies.head(10)

(9742, 3)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller

In [20]:
ratings =ratings.drop(['timestamp'],axis=1)
movies=movies.drop(['genres'],axis=1)
merged_ratings=pd.merge(ratings,movies)
merged_ratings.head(6)

   userId  movieId  rating             title
0       1        1     4.0  Toy Story (1995)
1       5        1     4.0  Toy Story (1995)
2       7        1     4.5  Toy Story (1995)
3      15        1     2.5  Toy Story (1995)
4      17        1     4.5  Toy Story (1995)
5      18        1     3.5  Toy Story (1995)

In [21]:
userRatings = merged_ratings.pivot_table(index=['userId'],columns=['title'],values='rating')
userRatings.head(10)

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
print(userRatings.shape)
userRatings = userRatings.dropna(thresh=10, axis=1)
userRatings.fillna(0, inplace=True)

(610, 9719)

In [23]:
print("after drop:",userRatings.shape)
userRatings.head(10)

after drop: (610, 2269)

title,"'burbs, The (1989)",(500) Days of Summer (2009),10 Cloverfield Lane (2016),10 Things I Hate About You (1999),"10,000 BC (2008)",101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),12 Angry Men (1957),12 Years a Slave (2013),127 Hours (2010),...,Zack and Miri Make a Porno (2008),Zero Dark Thirty (2012),Zero Effect (1998),Zodiac (2007),Zombieland (2009),Zoolander (2001),Zootopia (2016),eXistenZ (1999),xXx (2002),¡Three Amigos! (1986)
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [24]:
correlationMatrix = userRatings.corr(method='pearson')
correlationMatrix.head(10)

title,"'burbs, The (1989)",(500) Days of Summer (2009),10 Cloverfield Lane (2016),10 Things I Hate About You (1999),"10,000 BC (2008)",101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),12 Angry Men (1957),12 Years a Slave (2013),127 Hours (2010),...,Zack and Miri Make a Porno (2008),Zero Dark Thirty (2012),Zero Effect (1998),Zodiac (2007),Zombieland (2009),Zoolander (2001),Zootopia (2016),eXistenZ (1999),xXx (2002),¡Three Amigos! (1986)
title,,,,,,,,,,,,,,,,,,,,,
"'burbs, The (1989)",1.000000,0.063117,-0.023768,0.143482,0.011998,0.087931,0.224052,0.034223,0.009277,0.008331,...,0.017477,0.032470,0.134701,0.153158,0.101301,0.049897,0.003233,0.187953,0.062174,0.353194
(500) Days of Summer (2009),0.063117,1.000000,0.142471,0.273989,0.193960,0.148903,0.142141,0.159756,0.135486,0.200135,...,0.374515,0.178655,0.068407,0.414585,0.355723,0.252226,0.216007,0.053614,0.241092,0.125905
10 Cloverfield Lane (2016),-0.023768,0.142471,1.000000,-0.005799,0.112396,0.006139,-0.016835,0.031704,-0.024275,0.272943,...,0.242663,0.099059,-0.023477,0.272347,0.241751,0.195054,0.319371,0.177846,0.096638,0.002733
10 Things I Hate About You (1999),0.143482,0.273989,-0.005799,1.000000,0.244670,0.223481,0.211473,0.011784,0.091964,0.043383,...,0.243118,0.104858,0.132460,0.091853,0.158637,0.281934,0.050031,0.121029,0.130813,0.110612
"10,000 BC (2008)",0.011998,0.193960,0.112396,0.244670,1.000000,0.234459,0.119132,0.059187,-0.025882,0.089328,...,0.260261,0.087592,0.094913,0.184521,0.242299,0.240231,0.094773,0.088045,0.203002,0.083518
101 Dalmatians (1996),0.087931,0.148903,0.006139,0.223481,0.234459,1.000000,0.285112,0.119843,0.072399,0.029967,...,0.114968,0.077232,0.096294,0.067134,0.113224,0.184324,0.054024,0.047804,0.156932,0.078734
101 Dalmatians (One Hundred and One Dalmatians) (1961),0.224052,0.142141,-0.016835,0.211473,0.119132,0.285112,1.000000,0.134037,0.017264,-0.046277,...,0.120302,0.125816,0.049818,0.083650,0.171654,0.274260,0.077594,0.085606,0.248820,0.171118
12 Angry Men (1957),0.034223,0.159756,0.031704,0.011784,0.059187,0.119843,0.134037,1.000000,0.132979,0.058862,...,0.104518,0.028415,0.079905,0.241435,0.144652,0.122107,0.056742,-0.001708,0.074306,0.102744
12 Years a Slave (2013),0.009277,0.135486,-0.024275,0.091964,-0.025882,0.072399,0.017264,0.132979,1.000000,0.249931,...,0.024045,0.038127,0.013786,0.190366,0.104150,0.017351,0.063325,0.002528,0.037469,0.004213
127 Hours (2010),0.008331,0.200135,0.272943,0.043383,0.089328,0.029967,-0.046277,0.058862,0.249931,1.000000,...,0.223135,0.154299,0.012907,0.364841,0.198926,0.091416,0.225747,0.128638,0.153335,0.002912

In [25]:
def find_similar_ratings(name_Of_movie,rate):
    similar_ratings = correlationMatrix[name_Of_movie]*(rate-2.5)
    similar_ratings = similar_ratings.sort_values(ascending=False)
    return similar_ratings

In [26]:
def recommend(list_Of_movie_and_rates):
    similar_movies = pd.DataFrame()
    for movie,rating in list_Of_movie_and_rates:
        similar_movies = similar_movies.append(find_similar_ratings(movie,rating),ignore_index=True)
    similar_movies=similar_movies.sum().sort_values(ascending=False)
    return similar_movies;

In [27]:
#romance lover test 1
firstPerson=[("Easy A (2010)",5),("Ugly Truth, The (2009)",3),("Aliens (1986)",1),("2001: A Space Odyssey (1968)",2)]
recommend(firstPerson).head(30)

Easy A (2010)                                   2.716848
Ugly Truth, The (2009)                          1.647418
Legally Blonde 2: Red, White & Blonde (2003)    1.347922
Holiday, The (2006)                             1.280406
How to Lose a Guy in 10 Days (2003)             1.206814
Neighbors (2014)                                1.199275
21 Jump Street (2012)                           1.196354
Girl Next Door, The (2004)                      1.175435
Crazy, Stupid, Love. (2011)                     1.167047
Twilight Saga: Eclipse, The (2010)              1.166372
Pride & Prejudice (2005)                        1.166267
Walk to Remember, A (2002)                      1.165375
27 Dresses (2008)                               1.161907
Proposal, The (2009)                            1.117105
Enchanted (2007)                                1.102815
17 Again (2009)                                 1.077869
Mean Girls (2004)                               1.068145
Friends with Benefits (2011)                    1.051814
Pitch Perfect (2012)                            1.044682
Hairspray (2007)                                1.028192
Mamma Mia! (2008)                               1.021605
Brave (2012)                                    1.011186
10 Things I Hate About You (1999)               0.994966
Tangled (2010)                                  0.988254
Bridesmaids (2011)                              0.986068
Change-Up, The (2011)                           0.983174
Date Night (2010)                               0.975382
Help, The (2011)                                0.974753
Megamind (2010)                                 0.973817
Accepted (2006)                                 0.943884
dtype: float64

In [28]:
#action lover test 2
secondPerson= [("Amazing Spider-Man, The (2012)",5),("Mission: Impossible III (2006)",4),("Toy Story 3 (2010)",1),("2 Fast 2 Furious (Fast and the Furious 2, The) (2003)",4)]
recommend(secondPerson).head(30)

Amazing Spider-Man, The (2012)                                                 2.840940
Mission: Impossible III (2006)                                                 2.536540
2 Fast 2 Furious (Fast and the Furious 2, The) (2003)                          2.483356
Crank (2006)                                                                   1.917487
Tron: Legacy (2010)                                                            1.903291
Over the Hedge (2006)                                                          1.901715
Kung Fu Hustle (Gong fu) (2004)                                                1.891283
Chronicles of Riddick, The (2004)                                              1.881505
Snakes on a Plane (2006)                                                       1.876731
Hellboy (2004)                                                                 1.859995
Hancock (2008)                                                                 1.799465
Mission: Impossible - Ghost Protocol (2011)                                    1.783841
Godzilla (2014)                                                                1.781399
Jumper (2008)                                                                  1.772638
Fast and the Furious, The (2001)                                               1.768010
The Amazing Spider-Man 2 (2014)                                                1.763534
World War Z (2013)                                                             1.751809
Wreck-It Ralph (2012)                                                          1.749737
Dredd (2012)                                                                   1.748766
X-Men: The Last Stand (2006)                                                   1.739557
S.W.A.T. (2003)                                                                1.725688
Fantastic Four (2005)                                                          1.721040
Fast Five (Fast and the Furious 5, The) (2011)                                 1.709925
Get Smart (2008)                                                               1.707548
Predators (2010)                                                               1.706533
Fast & Furious (Fast and the Furious 4, The) (2009)                            1.706142
Rundown, The (2003)                                                            1.692092
Dawn of the Planet of the Apes (2014)                                          1.676168
Mr. Deeds (2002)                                                               1.665241
Fast and the Furious: Tokyo Drift, The (Fast and the Furious 3, The) (2006)    1.662354
dtype: float64